{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <section class="home">
        <div class="informacoes">
            <h1>Make your own workout planners!</h1>
            <p>Organize and list your exercises in a more simple way.</p>
        </div>
    </section>

    <section class="exercises-lists">
        <div class="informacoes">
            <p>With Workout Planner you can:</p>
            <ul>
                <li>Register and personalize your own planner</li>
                <li>Add exercises for each day of the week</li>
                <li>Order them by muscle</li>
                <li>Detail how many sets and repetitions per exercise</li>
                <li>Delete any exercise</li>
                <li>Reorganize your planner again and again</li>
            </ul>
        </div>
    </section>

{% endblock %}
