.home {
    background-color: antiquewhite;
}

.informacoes {
    text-align: center;
    padding: 30px;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
    line-height: 30px;
}

h1 {
    text-shadow: 2px 2px 5px;
}